
input {
    /* width: 20%; */
    padding: 10px;
    border-radius: 5px;
}

.inputContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.addBtn{
    padding: 10px;
    /* width: 25%; */
}


li{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    max-width: 100%;
}

.deleteBtn{
    padding: 5px;
}